# Importing Libraries

In [2]:
import pandas as pd

# Loading in Dataset

In [3]:
df = pd.read_csv("Exoplanet extract new.csv")

In [4]:
df.head()

,rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_bmy,st_bmyerr,st_bmylim,st_m1,st_m1err,st_m1lim,st_c1,st_c1err,st_c1lim,st_colorn
0,1,11 Com,b,11 Com b,Radial Velocity,1,326.03000,0.32,-0.32,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
1,2,11 UMi,b,11 UMi b,Radial Velocity,1,516.21997,3.20,-3.20,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,3,14 And,b,14 And b,Radial Velocity,1,185.84000,0.23,-0.23,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3,4,14 Her,b,14 Her b,Radial Velocity,1,1773.40002,2.50,-2.50,0.0,...,0.537,0.001,0.0,0.366,0.002,0.0,0.438,0.006,0.0,9
4,5,16 Cyg B,b,16 Cyg B b,Radial Velocity,1,798.50000,1.00,-1.00,0.0,...,0.418,0.003,0.0,0.222,0.003,0.0,0.351,0.003,0.0,17

In [6]:
df.shape

(3838, 355)

# Comments on Habitability

In [8]:
#K2-18 (b and c) are known habitable 
#spectral type of host star is important - M-type is what K2-18b orbits
#circumsteller habitable zone (because it is hard to measure qualities of exoplanets especially surface temperature)
#K2-18b is 2.3 times wider and 8 times more massive than Earth
#research question #1: what conditions need to exist for liquid water
#Luminosity is useful in determining the CHZ because it affects the temperature of surrounding planets; a star with low luminosity will have a much closer CHZ than a star with high luminosity.

# What conditions need to exist for liquid water?

# Calculating Habitability Zones (Morris Method - Apparent Magnitude)

https://www.planetarybiology.com/calculating_habitable_zone.html

In [117]:
df=df.sort_values(by=["st_optmag"],ascending=False)

In [118]:
print(df[["pl_hostname","pl_name","pl_orbsmax","st_dist","st_optmag","st_spstr"]])

                      pl_hostname                        pl_name  pl_orbsmax  \
13        2MASS J12073346-3932539      2MASS J12073346-3932539 b    46.00000
3610                    SWEEPS-11                    SWEEPS-11 b     0.03000
3618                   TRAPPIST-1                   TRAPPIST-1 f     0.03710
3614                   TRAPPIST-1                   TRAPPIST-1 b     0.01111
3611                     SWEEPS-4                     SWEEPS-4 b     0.05500
...                           ...                            ...         ...
3782                      WASP-97                      WASP-97 b         NaN
3783                      WASP-98                      WASP-98 b     0.03762
3784                      WASP-99                      WASP-99 b         NaN
3785                  WD 0806-661                  WD 0806-661 b  2500.00000
3786  WISEP J121756.91+162640.2 A  WISEP J121756.91+162640.2 A b     8.00000

      st_dist  st_optmag st_spstr
13      52.40      20.15       M8
3610  8500.00      19.83      NaN
3618    12.10      18.80      NaN
3614    12.10      18.80      NaN
3611  8500.00      18.80      NaN
...       ...        ...      ...
3782   151.73        NaN       G5
3783   284.05        NaN       G7
3784   159.39        NaN       F8
3785    19.20        NaN      NaN
3786    10.10        NaN     T8.5

[3838 rows x 6 columns]

# Orbital Period?

In [7]:
df.sort_values(by=["pl_orbper"])

,rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_bmy,st_bmyerr,st_bmylim,st_m1,st_m1err,st_m1lim,st_c1,st_c1err,st_c1lim,st_colorn
3593,3594,PSR J1719-1438,b,PSR J1719-1438 b,Pulsar Timing,1,0.090706,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
838,839,K2-137,b,K2-137 b,Transit,1,0.179715,0.000001,-0.000001,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1152,1153,KIC 10001893,b,KIC 10001893 b,Orbital Brightness Modulation,3,0.219700,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1180,1181,KOI-55,b,KOI-55 b,Orbital Brightness Modulation,2,0.240104,0.000004,-0.000004,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
847,848,K2-141,b,K2-141 b,Transit,2,0.280324,0.000002,-0.000002,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,3633,USco CTIO 108,b,USco CTIO 108 b,Imaging,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3637,3638,VHS J125601.92-125723.9,b,VHS J125601.92-125723.9 b,Imaging,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3785,3786,WD 0806-661,b,WD 0806-661 b,Imaging,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3786,3787,WISEP J121756.91+162640.2 A,b,WISEP J121756.91+162640.2 A b,Imaging,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3816,3817,kap And,b,kap And b,Imaging,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7

# A Habitable Candidate - K2-18

In [72]:
df.loc[df["pl_hostname"]=="K2-18"]

,rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_jmh2,st_jmh2err,st_jmh2lim,st_hmk2,st_hmk2err,st_hmk2lim,st_jmk2,st_jmk2err,st_jmk2lim,st_colorn
897,898,K2-18,b,K2-18 b,Transit,2,32.93963,0.0001,-0.0001,0.0,...,0.628,0.038,0.0,0.236,0.032,0.0,0.864,0.034,0.0,4
898,899,K2-18,c,K2-18 c,Radial Velocity,2,8.96200,0.0080,-0.0080,0.0,...,0.628,0.038,0.0,0.236,0.032,0.0,0.864,0.034,0.0,4

In [74]:
#K2-18 (b and c)
#spectral type of host star is important - M-type is what K2-18b orbits
#circumsteller habitable zone (because it is hard to measure qualities of exoplanets especially surface temperature)
#K2-18b is 2.3 times wider and 8 times more massive than Earth
#research question #1: what conditions need to exist for liquid water
#Luminosity is useful in determining the CHZ because it affects the temperature of surrounding planets; a star with low luminosity will have a much closer CHZ than a star with high luminosity.

NameError: name 'K2' is not defined