In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("meteorite-landings 3.csv")

In [40]:
df.sort_values("year",ascending=False)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
38188,Ur,24125,Valid,Iron,NaN,Found,2501.0,30.90000,46.01667,"(30.900000, 46.016670)"
30679,Northwest Africa 7701,57150,Valid,CK6,55.0,Found,2101.0,0.00000,0.00000,"(0.000000, 0.000000)"
30760,Northwest Africa 7822,57268,Valid,Achondrite-ung,45.8,Found,2013.0,0.00000,0.00000,"(0.000000, 0.000000)"
30773,Northwest Africa 7857,57422,Valid,LL6,246.0,Found,2013.0,0.00000,0.00000,"(0.000000, 0.000000)"
30759,Northwest Africa 7812,57258,Valid,Angrite,46.2,Found,2013.0,0.00000,0.00000,"(0.000000, 0.000000)"
...,...,...,...,...,...,...,...,...,...,...
38128,Um-Hadid,24114,Valid,Mesosiderite,15400.0,Found,NaN,21.69500,50.59667,"(21.695000, 50.596670)"
38201,Valencia,24147,Valid,H5,33500.0,Found,NaN,39.00000,-0.03333,"(39.000000, -0.033330)"
38224,Villa Regina,53827,Valid,"Iron, IIIAB",5030.0,Found,NaN,-39.10000,-67.06667,"(-39.100000, -67.066670)"
38328,Wiltshire,56143,Valid,H5,92750.0,Found,NaN,51.14967,-1.81000,"(51.149670, -1.810000)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)"

In [6]:
df.shape

(45716, 10)

In [11]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
#import tqdm
#from tqdm._tqdm_notebook import tqdm_notebookz

In [41]:
locator = Nominatim(user_agent="myGeocoder")
coordinates = "21.695000, 50.596670"
location = locator.reverse(coordinates)
location.raw

{'place_id': 306951961,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 12400642,
 'lat': '25.3877578',
 'lon': '49.5626628',
 'display_name': 'محافظة الأحساء, المنطقة الشرقية, السعودية',
 'address': {'city': 'محافظة الأحساء',
  'state': 'المنطقة الشرقية',
  'country': 'السعودية',
  'country_code': 'sa'},
 'boundingbox': ['19.3329996', '26.6005899', '47.5243998', '51.9975393']}

In [29]:
print(location.address)

Calle 2, Independencia, Acapulco, Acapulco de Juárez, Guerrero, 39300, México

In [30]:
location=location.address.split(", ")

In [31]:
location[-1]

'México'

In [37]:
df.iloc[0,9]

'(50.775000, 6.083330)'